 /*Written by Awaneesh Srivastava*/

body {
    font-family:Raleway;
}



select{
color:#434C59;
}
.sub{
padding:8px 0px;
font-weight:bold;
color:#434C59;
}

.uppercase{
text-transform:uppercase;
color:#434c59;
letter-spacing:2px;
}

form{
background:#ECEFF1;
}
.rad{
border-top-right-radius:5px;
border-top-left-radius:5px;
}
form {
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
margin-bottom:20px;
}

#cert{
background-image:url("01.png");
background-size:100% 100%;
background-repeat:no-repeat;
height:370px;
}


#certBorder{
font-family:Anton;

border:2px solid #C9B29B;
margin:10px;
backgound:rgba(0,0,0,0.8);
}
#certInside{
border:0px dashed rgba(5,9,200,0.3);
height:100%;
backgound:rgba(255,255,255,0.5);
}


#certFoot{
position:relative;
top:280px;
}

#certName{
position:relative;
top:100px;
}

#head1{
font-size:12px;
position:relative;
top:15px;
font-weight:700;

}

#head2{
position:relative;
top:25px;
font-weight:1000;
font-size:15px;
font-stretch:expanded;
letter-spacing:2px;
}

#head3{
position:relative;
top:45px;
font-size:11px;
}
#head4{
position:relative;
top:55px;
font-size:20px;
font-weight:550;
border-bottom:2px solid rgba(0,0,0,0.1);
display:inline-block;
olor:#29B6F6;
text-shadow:1px 0px grey;
}

#head5{
position:relative;
top:50px;
font-size:11px;
font-weight:400;
padding:30px;
}

#head6{
position:relative;
top:110px;
font-size:9px;
font-weight:400;
right:70px;
display:inline-block;
border-bottom:1px inset rgba(0,0,0,0.1);
}

#head9{
position:relative;
top:60px;
font-size:5px;
font-weight:400;
right:60px;
display:inline-block;
border-bottom:1px inset rgba(0,0,0,0.1);
}
#head7{
position:relative;
top:25px;
font-size:10px;
text-decoration:overline;
font-weight:500;
padding-top:10px;
}

#head8{
position:relative;
font-size:10px;
font-weight:400;
top:25px;
letter-spacing:2px;
}


.theme1{
color:#00000;
}

.theme2{
color:#795D4C;
}

#certInside{
position:relative;
top:20px;
}

.left{
left:5px;
}

form, #magic{
text-transform:capitalize;